<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/css/styles.css}" type="text/css">
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${bookToSave}">
        <table id="input_table">
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                    <div class="error" th:if="${#fields.hasErrors('author')} or ${errorSave}">
                        Must not be empty
                    </div>
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                    <div th:if="${#fields.hasErrors('title')} or ${errorSave}">
                        Must not be empty
                    </div>
                </td>
                <td>
                    <input type="number" placeholder="size (pages)" th:field="*{size}">
                    <div class="error" th:if="${#fields.hasErrors('size')} or ${errorSave}">
                        Must not be empty. Int and greater than 0
                    </div>
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>

    </form>

    <br>

    <form method="post" th:action="@{/books/removeById}" th:object="${bookIdToRemove}">
        <table id="remove_table">
            <tr>
                <td>
                    <input type="number" placeholder="id_number" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="error" th:if="${#fields.hasErrors('id')} or ${errorRemoveById}">
                        Must not be empty. Int and greater than 0
                    </div>
                </td>
            </tr>

        </table>
    </form>

    <form method="post" th:action="@{/books/removeByRegex}" th:object="${bookRegexToRemove}">
        <table>
            <tr>
                <td>Remove by Regex</td>
                <td>
                    <input type="text" placeholder="regex" th:field="*{regex}">
                </td>
                <td>
                    <input type="submit" value="remove by regex">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="error"
                         th:if="${#fields.hasErrors('regex')} or ${errorRemoveByRegex}"

                         th:switch="${errorRemoveByRegex}"
                     >
                        <p th:case="*" th:text="${errorRemoveByRegex}"/>
                        <p th:case="'Error template Regex'">Error Regex request!<br>Pattern Regex: [param] = [value_1, ..., value_N]  <p/>
                    </div>
                </td>
            </tr>
        </table>
    </form>

    <br>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="*{book.id}">
            <td th:text="*{book.author}">
            <td th:text="*{book.title}">
            <td th:text="*{book.size}">
            </td>
        </tr>
    </table>
</div>

</body>
</html>